extends layout

block content
  h1 オンライン潜水艦ゲーム
  if user
    h4 以下のアカウントでゲームに参加できます。
    h2 #{user.displayName}　
      img(src=`${user.photos[0].value}`)
    h2
      a(href='game') #{user.displayName} でゲームに参加
    h3
      a(href='logout') ログアウト
  else
    h3 記録を残すには twitter でログインしてください。
    h3
      a(href='login/twitter') Twitter でログイン
    h3
      a(href='game') 匿名でゲームに参加